.polls-filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.polls-cards > * {
  margin-bottom: calc(var(--grid-unit) * 2); 
}

.polls-pagination {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
  .polls-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--grid-unit) * 3);
    row-gap: calc(var(--grid-unit) * 3);
  }

  .polls-cards > * {
    margin-bottom: unset;
  }
}