.select {
  position: relative;
}

.select::after {
  content: '';
  display: block;
  width: 13px;
  height: 8px;
  position: absolute;
  top: calc(var(--grid-unit) * 1.5);
  right: var(--grid-unit);
  background: url('../assets/icons/select-chevron.svg');
}

.select-input {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: var(--grid-unit);
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border-bottom: 1px solid var(--gray-100);
}

.select-input::-ms-expand {
  display: none;
}

.select--disabled {
  cursor: not-allowed;
}

.select--disabled::after {
  opacity: 0.5;
}

.select--disabled .select-input {
  color: var(--gray-50);
  border-color: var(--gray-50);
}