.syncMenu-contents {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--gray-0);
}

.syncMenu-mobileOnly {
  padding: calc(var(--grid-unit) * 2);
  background: var(--gray-20);
}

.syncMenu-mainOptions {
  padding: calc(var(--grid-unit) * 2);
  background: var(--gray-0);
}

.syncMenu-section {
  padding: calc(var(--grid-unit) * 2) 0;
  border-bottom: 1px solid var(--gray-20);
}

.syncMenu-section:first-child {
  padding-top: 0;
}

.syncMenu-section:last-child {
  padding-bottom: 0;
  border: none;
}

.syncMenu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.syncMenu-item + .syncMenu-item {
  margin-top: var(--grid-unit);
}

.syncMenu-close {
  position: absolute;
  top: calc(var(--grid-unit) * 2);
  right: calc(var(--grid-unit) * 2);
}

.syncMenu-logo {
  margin-bottom: var(--grid-unit);
}

.syncMenu-mobileLink {
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .syncMenu {
    position: relative;
  }

  .syncMenu-mobileOnly {
    padding: calc(var(--grid-unit) * 2);
    background: var(--gray-20);
  }

  .syncMenu-mainOptions {
    padding: calc(var(--grid-unit) * 3);
  }

  .syncMenu-section {
    padding: calc(var(--grid-unit) * 3);
  }
}