@import 'assets/fonts/iosevka.css';
@import 'assets/styles/design-tokens.css';
@import 'assets/styles/utility-classes.css';
@import 'assets/styles/typography.css';

body {
  margin: 0;
  font-family: 'Iosevka Web', 'Courier New', monospace;
  line-height: var(--line-height-tight);
  font-size: var(--font-m);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

code {
  font-family: 'Iosevka Web', 'Courier New', monospace;
}

.wrap {
  margin: 0 auto;
  width: 96%;
}

@media (min-width: 768px) {
  .wrap { 
    width: 70%;
    max-width: 1400px;
  }
}